@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}

@font-face {
  font-family: "Axia-Bold";
  src: url("https://use.typekit.net/af/d9fa6e/00000000000000003b9ae354/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/d9fa6e/00000000000000003b9ae354/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/d9fa6e/00000000000000003b9ae354/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "Axia";
  src: url("https://use.typekit.net/af/bb7827/00000000000000003b9ae356/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/bb7827/00000000000000003b9ae356/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/bb7827/00000000000000003b9ae356/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Redonda";
  src: url("https://use.typekit.net/af/fc4283/00000000000000007736bf28/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/fc4283/00000000000000007736bf28/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("woff"),
    url("https://use.typekit.net/af/fc4283/00000000000000007736bf28/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* VERDE */
  --color-verde-escuro: #004120;
  --color-verde: #00b900;
  --color-verde-claro: #30ff01;
  --color-verde-mais-claro: #def2d6;

  /* ROSA */
  --color-rosa-magenta: #ac0055;
  --color-rosa-magenta-claro: #ff048b;
  --color-rosa: #ff91c8;
  --color-rosa-claro: #ff9977;

  /* AZUL */
  --color-azul-escuro: #0041f3;
  --color-azul: #0076e7;
  --color-azul-claro: #a2cde6;

  /* AMARELO */
  --color-amarelo-escuro: #d3b500;
  --color-amarelo: #f9dd06;
  --color-amarelo-claro: #f3e9a6;

  /* LARANJA */
  --color-laranja: #ff5e1f;

  /* VERMELHO */
  --color-vermelho: #ff1c00;

  /* BRANCO */
  --color-branco: #f4f9f2;

  /* PRETO */
  --color-preto: #000000;
}
Agora as cores estão agrupadas em comentários de acordo com suas categorias. * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
